main
{
    height: 100vh;
}

#form{
    width: 80%;
    height: auto;
}

form{
    width: 95%;
    height: 85%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.box-content
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    flex-direction: column;
}

.card-prova
{
    width: 85%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-avaliacao
{
    width: 100%;
    height: 70px;
    background-color: blue;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-avaliacao button
{
    margin-top: 10px;

    background-color:blue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: transparent;
}
.add-avaliacao b
{
    color: aliceblue;
}

.provas
{
    width: 95%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 20px;
    padding: 10px 0;
    overflow-y: scroll;
   
}

::-webkit-scrollbar
{
    background-color: blueviolet;
    border-radius: 0 20px 20px 0 ;
}

::-webkit-scrollbar-thumb
{
    background: aliceblue;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid blueviolet;
}

.prova
{
    width: 90%;
    height: 10.5vh;
    background-color: blue;
    border-radius: 20px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding:  0 30px;
    gap: 15px;
    margin: auto;
    margin-top: 20px;
}

.prova b
{
    color: aliceblue;
    /* margin-left: 30px; */
}

#opt-2
{
    background-color: rgba(255, 0, 0, 0.705);
}

/* #exampleModal
{
    position: relative;
} */