main
{
    height: 100vh;
}

#form
{
    width: 80%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

#form2{
    position: absolute;
    top: 135px;
    width: 95%;
    height: 78%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.box-content
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    flex-direction: column;
}

.card-prova
{
    width: 85%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-avaliacao
{
    width: 100%;
    height: 9vh;
    background-color: blue;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-avaliacao button
{


    background-color:blue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: transparent;
}

.add-avaliacao b
{
    color: aliceblue;
}

.provas
{
    width: 95%;
    height: 100%;
    border-radius: 20px;
    padding: 10px 0;
    overflow-y: scroll;
}

::-webkit-scrollbar
{
    border-radius: 0 20px 20px 0 ;
}

::-webkit-scrollbar-thumb
{
    background: white;
    border-radius: 20px 20px 20px 20px;
}

.prova
{
    width: 90%;
    height: 10.5vh;
    border-radius: 20px;

    display: flex;
    margin: auto;
    margin-top: 20px;
}

.prova b
{
    color: aliceblue;
}

#opt-2
{
    background-color: rgba(255, 0, 0, 0.705);
}

#exampleModal
{
    position: relative;

}

#btn-prova
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.info-turma
{
    margin-left: 10vw;
}


.info-disciplina
{
    margin-right: 10vw;
}

