*{
    margin: 0;
    font-family: Poppins, sans-serif;
}
main{
    height: 100vh;
}
form{
    height: 100%;
}
.col{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 90%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 3px 3px 20px #BFC0C2;
}

.card-body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.inputs-body
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}


.inputs
{
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 25px;
    justify-content: space-between;
    padding: 10px;
    animation: cadastroPassar .3s;
}

.card-top
{
    gap: 7vw;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}



#inputUnico  
{
    height: 5vh;
}

#inputAulas
{
    height: 4vh;
}

.textLabel
{
    font-size: 20px;
}


.caixas
{
    width: 26vw;
    height: 5vh;
    
}

.inputsDatas
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    
}

.caixasDatas
{
    width: 12.5vw;
    height: 5vh;
}


.show
{
    display: flex;
}

.hidden
{
    display: none;
}

#opt-3
{
    background-color: rgba(255, 0, 0, 0.705);
}

.btn
{
    border: none;
}

.opcoesCadastro
{
    cursor: pointer;
    
}

.botaoCadastrar
{
    color: rgb(0, 86, 145);
    font-size: large;
    border: 2px solid #005691;
   
}

.botaoCadastrar:hover
{
    background-color:  #003b6a;
    color: whitesmoke;
}

/* EfeitoU */
.efeitoU
{
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    color: black;
}

.efeitoU:after 
{
    content: '';
    display: block;
    border-bottom: 3px solid red;
    width: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.efeitoU:hover:after
{
    width: 100%;
}

.efeitoU:hover
{
    color: red;
}



.sublinhar{
    text-decoration:none;
    border-bottom: 1px solid red;
}

u.sublinhar:hover {
    border-bottom: 3px solid red;
    transition: 0s;
}

@keyframes cadastroPassar
{
    from 
    {
        transform: scale(75%);
    }
    to 
    {
        transform: scale(100%);
    }
}

@media screen and (max-width: 1280px) 
{
    .efeitoU 
    {
        font-size: 15px;
    }
  }