*{
    margin: 0;
}
main{
    height: 100vh;
}

.col{
    position: relative;
    width: 100%;
    height: 100%;
}
.card
{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(175, 175, 175);
    border-radius: 20px;
}

.card-body
{
    justify-content: center;
    align-items: center;
}

.card-bottom
{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* } */


/* NavBar dos Cadastros */
/* { */
.cadastros
{
    width: 60vw;
    height: 10vh;
    border-bottom: 3px solid black;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.cadastros a
{
    position: relative;
    margin: 30px;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    display: block;
}

.cadastros a:hover
{
    color: rgb(255, 255, 255);
}
/* } */


/*Borda dos Inputs*/
/* { */
#inputNomeTurma  /* Especifico */
{
    width: 25vw;
    height: 5vh;
    border-color: #000;
}


/* Layout das caixas dos inputs */
.inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* Tamanho das palavras que ficam em cima das caixas */
.textLabel
{
    font-size: 20px;
}

/* Tamanho das caixas dos inputs */
.caixas
{
    width: 25vw;
    height: 5vh;
    /* margin: 30px; */
}

.show
{
    display: flex;
}

.hidden
{
    display: none;
}