main{
	height: 100vh;
}

.box-content{
	padding: 30px;
}

.box-aluno{
	background-color: lightseagreen;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
	gap: 20px;
	border-radius: 10px;
}