main
{
    height: 100vh;
}

#form
{
    width: 80%;
    height: auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

#form2{
    position: absolute;
    top: 135px;
    width: 95%;
    height: 78%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #BFC0C2;
    align-items: center;
    border-radius: 20px ;
    box-shadow: 3px 3px 20px #BFC0C2;
}

.box-content
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    flex-direction: column;
}

.box-content b
{
    color:rgba(0, 0, 0, 0.644);
}

.card-questao
{
    width: 85%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
}
.botaoQuestao
{
    color: white;
    font-size: large;

}

.botaoQuestao:hover
{
    background-color:  #003b6a;
    color: whitesmoke;
}

.add-questao
{
    width: 100%;
    height: 9vh;
    background-color: #005691;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-questao button
{


    background-color:  #005691;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-color: transparent;
}

.add-questao b
{
    color: aliceblue;
}

.botaoQuestoes
{
    background-color: whitesmoke;
	width: 100%;
}
.botaoQuestoes:hover
{
    background-color: rgba(0, 0, 0, 0.336);
}

.questoes
{
    width: 95%;
    height: 100%;
    
    border-radius: 20px;
    overflow-y: scroll;
}

::-webkit-scrollbar
{
    border-radius: 0 20px 20px 0 ;
}

::-webkit-scrollbar-thumb
{
    background: white;
    border-radius: 20px 20px 20px 20px;
}

.questao
{
    width: 90%;
    height: 8.5vh;
    border-radius: 20px;

    display: flex;
    margin: auto;
    margin-top: 20px;
}

#opt-2
{
    background-color: rgba(255, 0, 0, 0.705);
}

#exampleModal
{
    position: relative;
}

#btn-prova
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

.questao b
{
    font-size: 14px;
}

.infoProvas
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
    font-size: 14px;
}

.legenda
{
    width: 84%;
    height: 5vh;
    border-radius: 2px;

    margin-left: 6.5vw;
    margin-top: 2vh;
    margin-right: 6.6vw ;
}

.legendas
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;  
}

.legendaNota
{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%; 
	
}

#btn-legenda
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

