<form action="/cadastro-turma" method="post">
    <div class="inputs show" id="cadastroTurma">
        <div class="sm-3 caixas">
            <label for="nome" class="form-label">Nome da turma:</label>
            <input type="text" class="form-control" id="inputUnico" name="nome">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>