<form action="/cadastro-conteudo" method="post">
    <div class="inputs hidden" id="cadastroConteudo">
        <div class="mb-3 caixas" >
            <label for="nome" class="form-label">Nome do conteúdo:</label>
            <input type="text" class="form-control" id="inputUnico" name="nome">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>