<form action="/cadastro" method="post">
    <div class="inputs show" id="cadastroTurma">
        <div class="mb-3" id="inputNomeTurma">
            <label for="nome" class="form-label textLabel">Nome da Turma:</label>
            <input type="text" class="form-control" id="inputNomeTurma" name="nome">
        </div> 
        <button type="submit" class="btn btn-info">Info</button>
    </div>
</form>