main
{
    height: 100vh;
}

#opt-0
{
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
}

.box-content
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
    flex-direction: column;
}
