<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="css/telas-instrutores/avaliacao.css">
    <script src="js/index.js"></script>
    
    <title>Avaliação</title>
</head>

<body>
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">

            <div class="card-prova">

                <div class="add-avaliacao">
                    <button type="button" data-toggle="modal" data-target="#exampleModal">
                        <b>Adicionar Avaliação</b>
                    </button>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                          prova

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                          <button type="button" class="btn btn-primary">Criar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="provas" style="overflow-y:scroll;">

                    <div class="prova">
                        <b>Prova C#</b>
                    </div>

                    <div class="prova">
                        <b>Prova Python</b>
                    </div>

                    <div class="prova">
                        <b>Prova SQL</b>
                    </div>

                    <div class="prova">
                        <b>Prova JavaScript</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
<<<<<<< HEAD
=======
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                     <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
>>>>>>> 51529f4a38944a5e0164c846d86e4db764524017
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                     <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>

                    <div class="prova">
                        <b>Prova React</b>
                    </div>


                </div>



            </div>









        </div>
    </main>
</body>

</html>