<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- include("../template/head.ejs") %>
	<link rel="stylesheet" href="/css/telas-instrutores/lista-alunos.css">
	<title>Document</title>
</head>
<body>
	<main>
		<%- include("../template/nav-bar.ejs") %>
		<div class="box-content">
			<div class="box-aluno">
				<b>EDV: 12345</b>
				<b>ETS 2023/1</b>
				<b>Joao Pedro</b>
			</div>
		</div>
	</main>
</body>
</html>