<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="css/telas-instrutores/prova-alunos.css">
    <title>Document</title>
</head>
<body>
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">
            <div id="header">
                <b>Prova 01</b>
                <b>Python</b>
                <b>Joao Pedro Soares</b>
            </div>
            <div id="add-questao">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Adicionar Questão
                </button>
                <div id="questooes">
                    
                </div>
            </div>
        </div>
    </main>
</body>
</html>