<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../template/head.ejs") %>
    <link rel="stylesheet" href="/css/telas-instrutores/avaliacao.css">
    <link rel="stylesheet" href="/css/telas-instrutores/prova-alunos.css">
    <title>Document</title>
</head>
<body>
    <main>
        <%- include("../template/nav-bar.ejs") %>
        <div class="box-content">
            <form id="form" action="cadastro-prova" method="post">
                <div class="card-prova">
                    <div class="add-avaliacao">
                        <button type="button" onclick="adiciona()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Adicionar Questão
                        </button>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Questao: <span id="numQuestao"></span> </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <div class="modal-body">
                                    <div class="mb-3 forms">
                                        <label class="form-label">Review: </label>
                                        <input type="text" class="form-control" placeholder="nome da prova" name="nome">
                                    </div>
                                    <div class="mb-3 forms">
                                        <label class="form-label">Correção: </label>
                                        <input type="text" class="form-control" placeholder="nome da prova" name="nome">
                                    </div>
                                    <div id="pe">
                                        <div id="nota">
                                            <div class="mb-3 forms">
                                                <label class="form-label">Nota: </label>
                                                <input type="text" class="form-control" placeholder="nome da prova" name="nome">
                                            </div>
                                            <div class="mb-3 forms">
                                                <label class="form-label">Valor: </label>
                                                <input type="text" class="form-control" placeholder="nome da prova" name="nome">
                                            </div>
                                        </div>
                                        <div id="conteudos">

                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form2" action="lista-alunos" method="post">
                <div class="provas">
                   
                </div>
            </form>

            <!-- <div id="header">

             
            </div>
            <div id="add-questao">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Adicionar Questão
                </button>
                <div id="questooes">

                </div>
            </div> -->
        </div>
    </main>
    <script src="/js/prova-alunos.js"></script>
</body>
</html>