<div class="nav-bar">
	<div class="nav-header">
		<b>Bosch Board</b>
	</div>
	<div class="nav-links">
		<div class="nav-home">
			
			<!-- <div class="navegacao" id="opt-0" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/profile-aluno">
					<i class="fas fa-user-circle"></i>
					<b>Profile</b>
				</a>
			</div> -->

			<div class="navegacao" id="opt-1" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/dash-board">
					<i class="fas fa-tasks"></i>
					<b>DashBoard</b>
				</a>
			</div>

		</div>
		<div class="nav-footer">
			<div class="navegacao" id="opt-4" onclick="viewOpt(this.id)">
				<a href="http://10.21.71.69/cardapioweb/">
					<i class="fas fa-utensils"></i>
					<b>Cardápio</b>
				</a>
			</div>
			<div class="navegacao" id="opt-5" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/login">
					<i class="fas fa-sign-out-alt"></i>
					<b>Sair</b>
				</a>
			</div>
		</div>
	</div>
</div>