<div class="nav-bar">
	<div class="nav-header">
		<b>Bosch Board</b>
	</div>
	<div class="nav-links">
		<div class="nav-home">
			
			<div class="navegacao" id="opt-0" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/profile">
					<i class="fas fa-user-circle"></i>
					<b>Profile</b>
				</a>
			</div>

			<div class="navegacao" id="opt-1" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/dash-board">
					<i class="fas fa-poll-h"></i>
					<b>DashBoard</b>
				</a>
			</div>

			<div class="navegacao" id="opt-2" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/avaliacao">
					<i class="fas fa-tasks"></i>
					<b>Avaliações</b>
				</a>
			</div>

			<div class="navegacao" id="opt-3" onclick="viewOpt(this.id)">
				<a href="http://localhost:3000/cadastro">
					<i class="fas fa-edit"></i>
					<b>Cadastrar</b>
				</a>
			</div>

		</div>
		<div class="nav-footer">
			<div class="navegacao" id="opt-4" onclick="viewOpt(this.id)">
				<a href="http://10.21.71.69/cardapioweb/">
					<i class="fas fa-utensils"></i>
					<b>Cardápio</b>
				</a>
			</div>
		</div>
	</div>
</div>