<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/WebBosch/public/css/Telas_gerais/profile.css">

    <title>Profile</title>
    
<body>

    <div class="sidenav">

        <img src="/WebBosch/public/img/teste.jfif" class="imgUser" alt="Foto Usuario">

        <a href="#">Profile</a>
        <a href="#">Avaliações</a>
        <a href="#">Calendário</a>
        <a href="#">Cardápio</a>



    </div>
    
    
    <div class="main">
        






    </div>

    <script src="/WebBosch/public/js/index.js"></script>

</body>

</html>