main{
	height: 100vh;
}

#opt-1
{
    background-color:rgba(255, 0, 0, 0.705);
    color: white;
}

.graph01{
    height: 300px;
    width: 400px;
    /* border: 3px solid #800080; */
}

.box-content{
    display: flex;
    position: relative;
}

.bar{
    fill: rgb(0, 86, 145, 0.7);
}
#inputDis{
    width: fit-content;
}

#opt-2{
    display: none;
}

#opt-3{
    display: none;
}

#grafos{
    padding: 30px;
    gap: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
}

#provas{
    width: 50%;
}

#menuDis{
    width: fit-content;
}