main{
	height: 100vh;
}

#opt-1
{
    background-color:rgba(255, 0, 0, 0.705);
    color: white;
}

.graph01{
    height: 450px;
    width: 400px;
    border: 3px solid #800080;
}

.bar{
    fill: #800080;
}


#opt-2{
    display: none;
}

#opt-3{
    display: none;
}