<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/Telas_gerais/profile.css">
    <link rel="stylesheet" href="/public/css/SideNav.css">

    <title>Profile</title>

<body>

    <div class="sidenav">

        <div id="imageSide">
            <img src="/public/img/teste.jfif" class="imgUser" alt="Foto Usuario">
        </div>

        <div id="links">
            <div class="opcoes"> <a href="#">Profile</a></div>
            <div class="opcoes"> <a href="#">Avaliações</a></div>
            <div class="opcoes"> <a href="#">Calendário</a></div>
            <div class="opcoes"> <a href="#">Cardápio</a></div>
        </div>



    </div>


    <div class="main">







    </div>

    <script src="/public/js/index.js"></script>

</body>

</html>